

main{
    opacity: 0.8;
}

.container {
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 28vh auto auto;
    grid-template-areas:
        "header"
        "section"
        "footer";
}


form{

    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
    
}

label{
    color: white;
    font-size: 15pt;
    font-family: 'Anton', sans-serif;
}

form input{
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 1px;
    margin-bottom: 20px ;
}

legend{
    color: white;
    margin-left: 10px;
    font-size: 18pt;
  
}

textarea{
    width: 800px;
    padding: 10px;
    margin-left: 20px;
    margin: 10px;
}

/*Layout para celulares*/
@media only screen and (max-width: 375px) {

    .container {
        height: auto;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px auto auto;
        grid-template-areas:
            "header"
            "section"
            "footer";
    }

    main {
        width: 100%;
    }

    header {
        margin: 0;
        width: 100%;
        grid-area: header;
    }

    .headerUm img {
        display: none;
        width: 100%;
    }

    .headerDois img {
        display: none;
    }

    .header-1 img {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    .header-2 img {
        display: block;
        margin-top: 20px;
        width: 100%;
    }

    header h1 {
        text-align: center;
        font-size: 20pt;
    }

    header h2 {
        text-align: left;
        font-size: 20pt;
    }

    nav {
        position: absolute;
        top: 280px;
        left: 17px;
        z-index: 1;
        width: 19%;
    }

    .menu li {
        position: relative;
        float: left;
        z-index: 1;
        width: 100%;
        padding: 4px;
        list-style: none;
        text-align: center;
        font-size: 16px;
    }

    .menu li a {
        text-decoration: none;
        display: block;
        opacity: 0.9;
    }


    /*submenu*/
    .menu ul {
        position: absolute;
        top: 0px;
        left: 109px;
        display: none;
        
    }

    .menu li:hover>.sub-menu {
        display: block;
    }

    /* sub-menu do sub-menu*/

    .sub-menu li ul {
        position: absolute;
        top: 0px;
        left: 88px;
      
    }

    .sub-menu li ul a {
        display: block;
      
    }

    section p{
        padding: 40px 10px 20px 10px;

        }

    form{

        font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    
    label{
        color: white;
        font-size: 15pt;
        font-family: 'Anton', sans-serif;
    }
    
    form input{
        width: 200px;
        padding: 10px;
        margin-left: 20px;
        border: 1px solid;
        border-radius: 1px;
        margin-bottom: 15px;
            
    }
    
    legend{
        color: white;
        margin-left: 10px;
        font-size: 18pt;
      
    }
    
    textarea{
        width: 250px;
        padding: 10px;
        margin-left: 20px;
        margin: 10px;
        
    }

    footer {
        height: 63px;
        font-size: 13pt;
        text-align: center;

    }

  
    .CopyeContato {  
        display: inline;
        list-style: none;
        margin-left: 10px;
    }

    .CopyeContato li a {
        color: white;
        text-decoration: none;
        margin-left: 5px;
    }


}
